<!doctype html>
<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

<head>
    {{> head/head head.admin.analytics}}
</head>

<body class="page">
    <!-- begin content -->
    <div id="content" class="content content-full-width">
        <ol class="breadcrumb pull-right">
            <li><a href="javascript:;">Home</a></li>
            <li class="active">Аналитика</li>
        </ol>
        
    </div>
    <!-- end content -->




<!-- библиотеки подключаю удаленно -->
<script src='//d3js.org/d3.v3.min.js' charset='utf-8'></script>
<script src='//cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.js' charset='utf-8'></script>

<!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
<script src="%=staticPrefix=%js/main%=hash=%%=min=%.js"></script>
</body>