.button-group{
    .is-checked{
        color: black;
    }
}
.bdays-users-list{
    li{
        h4{        
            font-size: 12px;
        }
        list-style: none;
        font-size: 12px;
        float: left;
        padding: 7.5px;
        color: #333;
    }
}