<span class="pull-right">
    <div class="bdays-filters col-md-12">
        <div class="button-group filters-button-group">
            <button class="btn btn-xs btn-info active" data-filter=".month">В этом месяце</button>
            <button class="btn btn-xs btn-info" data-filter=".today">Сегодня</button>
            <button class="btn btn-xs btn-info" data-filter=".tomorrow">Завтра</button>
        </div>    
    </div>
</span>
