<h5>Скачайте статистику</h5>
<ul class="nav nav-pills nav-sm m-b-0">
    <li><a href="auth.txt?type=vkontakte" download="vkontakte_all.txt"><i class="fa fa-fw m-r-5 fa-circle text-inverse"></i>ВКонтакте</a></li>
    <li><a href="auth.txt?type=facebook" download="facebook_all.txt"><i class="fa fa-fw m-r-5 fa-circle text-primary"></i>Facebook</a></li>
    <li><a href="auth.txt?type=instagram" download="instagram_all.txt"><i class="fa fa-fw m-r-5 fa-circle text-success"></i>Instagram</a></li>
    <li><a href="auth.txt?type=twitter" download="twitter_all.txt"><i class="fa fa-fw m-r-5 fa-circle text-warning"></i>Twitter</a></li>
    <li><a href="auth.txt?type=phone" download="phone_all.txt"><i class="fa fa-fw m-r-5 fa-circle text-danger"></i>Телефон</a></li>
</ul>