<div class="panel-heading">
    <h4 class="panel-title">
        {{title}}
        {{#if headerSpan}}
            <span class="pull-right label label-success">{{headerSpan}}</span>
        {{/if}}
    </h4>
</div>