<ul class="registered-users-list clearfix">
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-1.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-2.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-3.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-4.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-5.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-6.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-7.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>
    <li>
        <a href="#"><img src="http://seantheme.com/color-admin-v1.9/admin/html/assets/img/user-8.jpg" alt=""></a>
        <h4 class="username text-elipsis">
            Иван иванов
        </h4>
    </li>                    
</ul>

<div class="panel-footer text-center">
    <a href="#">Посмотреть всех</a>
</div>
